<div class="row mx-3">
    <h2>Inventory</h2>
    <hr>
</div>

<form #inventoryForm="ngForm">
    <div class="row mx-5 g-3">
        <div class="col">
            <label>Product Id</label>
            <input type="number" name="productId" [(ngModel)]="inventoryData.productId" required #prodId="ngModel"
                class="form-control">
            <div *ngIf="prodId.invalid && prodId.touched" class="text-danger small">Required</div>
        </div>
        <div class="col">
            <label>Product Name</label>
            <input type="text" name="productName" [(ngModel)]="inventoryData.productName" required #pName="ngModel"
                class="form-control">
            <div *ngIf="pName.invalid && pName.touched" class="text-danger small">Required</div>
        </div>
        <div class="col">
            <label>Stock Available</label>
            <input type="number" name="stockAvailable" [(ngModel)]="inventoryData.stockAvailable" required
                #stock="ngModel" class="form-control">
            <div *ngIf="stock.invalid && stock.touched" class="text-danger small">Required</div>
        </div>
        <div class="col">
            <label>Reorder Stock</label>
            <input type="number" name="reorderStock" [(ngModel)]="inventoryData.reorderStock" required
                #reorder="ngModel" class="form-control">
            <div *ngIf="reorder.invalid && reorder.touched" class="text-danger small">Required</div>
        </div>
    </div>

    <div class="row mx-1 mt-3">
        <div class="col-lg-3">
            <button type="button" (click)="onSubmit(inventoryForm)" [disabled]="inventoryForm.invalid || isSubmitting"
                class="btn btn-primary mx-5 mt-3">
                {{ isSubmitting ? 'Submitted.' : 'Submit' }}
            </button>
        </div>
    </div>
</form>

<div class="col-lg-12 mt-4">
    <table class="table table-hover mx-3">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Stock Available</th>
                <th scope="col">Reorder Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of inventoryDto">
                <th scope="row">{{ item.productId }}</th>
                <td>{{ item.productName }}</td>
                <td>{{ item.stockAvailable }}</td>
                <td>{{ item.reorderStock }}</td>
                <td>
                    <button class="btn btn-sm btn-primary">Edit</button>
                    <button class="btn btn-sm btn-danger ms-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>